*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

header {
    background-color: #224b67;
    height: 15rem;
}

body {
    background-image: url('../Imagenes/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 4rem;
    background: transparent;
    width: 190%;
}

#Instruccion {
    position: absolute;
    background: transparent;
    top: 33%;
    left: 19.5%;
}

#Tarjeta {
    position: absolute;
    left: 34%;
    bottom: 23%;
}

#Barras {
    display: none;
}

#btn {
    position: absolute;
    width: 150px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 7%;
    left: 83%;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
    border-radius: 10%;
}

#btn:hover {
    background: #fff;
}

#btn_text {
    background: transparent;
}
