*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    
}

header{
    height:  100px;
    width: 100%;

    background-color: #A6E3E9;
}

body{
    background-color: #71C9CE;

    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 3rem;
    background-color: #ffffff;
    width: 75rem;
}

#Instruccion {
    position: absolute;
    top: 22rem;
    left: 19rem;
}

#Tarje {

}

#Logo{
    width: 100px;
    height: 150px;


}
