* { box-sizing: border-box;
margin: 0; padding: 0;
}

html {
    font-size: 62.5%;
}

header {
    font-size: 1.6rem;
    background-color:lightskyblue;
    font-weight: bold;
}

footer {display: flex;
    background-color: blue;
    font-size: 1.8rem;
    font-weight: bold;
    justify-content: space-between;
    bottom:0;
    position:fixed;
    margin-left: 30px;
}

aside {flex-direction: column;

}

h1{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    align-self: center;
    display:flex;
    word-spacing: 5px;
}

h2{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    position:static;
    margin-top:500px;
}

main {
    background-color:lightskyblue;
    display:flex;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td{
    font-size: larger;
    padding: 0 20px;
    border: 6px solid blue;
    margin-top:6px;
    margin-bottom:6px;
}

.center-table {
    border-color: blue;
    margin:0 auto;
}


p{text-align: center;
      color: blue;
}

nav {text-align: center;
    color:white;
    word-spacing: 40rem;
}


p {text-align: right;
word-spacing: 0.8rem;
}

section {
    font-size: 1.8rem;
}

.padre {
    display: flex;
    justify-content: space-between;
}

.box p {
    margin-top: 10px;
}

div {
    align-self: center;
}