* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}



header{
    justify-content: space-between;
    display: flex;
    background-color:   #71C9CE;
    height: 5rem;

}

footer {
    display: flex;
    background-color: #71C9CE;
    justify-content: space-between;
    height: 7.3rem;
}

aside {
    flex-direction: column;

}

h1{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    align-self: center;
    display:flex;
    word-spacing: 5px;
}

h2{
    font-weight: bold;
    color: white;
    font-size: xx-large;
    position:static;
    margin-top:550px;
}

main {
    display:flex;
}


p{
    text-align: center;
    color: blue;
}

nav {
    text-align: center;
    color:white;
    word-spacing: 40rem;
}


p {
    text-align: right;
    word-spacing: 0.8rem;
}

section {
    font-size: 1.8rem;
}


div {
    align-self: center;
}

.padre {
    display: flex;
    justify-content: space-between;
}

.box p {
    margin-top: 10px;
}

#imga{
    height: 150px;
    width: 100px;
}

#izq{
    background-color: #71c9ce;
    height: 35rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#izq1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

#der{
    background-color: white;
    height: 35rem;
    width: 80rem;
    border: 1px solid;
}

#rut{
    margin-left: 8px;
}

#digitador{
    width: 25px;
    margin-left: 8px;
}