

* { box-sizing: border-box;
margin: 0; 
padding: 0;
}

header{
    justify-content: space-between;
    display: flex;
    background-color:   blue;
    height: 5rem;
    border-bottom: 2px solid;
}

section{
    height: 35rem;

}

footer{
    height: 5rem;
    background-color: blue;
}

.divs{
    text-align: center;
    padding: 5px;
    width: 600px;
    border-top: 2px solid;
}

#divs1{
    border-left: 4px solid;
    border-right: 4px solid;
}

#nav1{
    background-color: blue;
    display: inline;

}

#opciones{
    background-color: blue;
    display: flex;
}